.env
.env.*
!.env.example
vendor/
node_modules/
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/testing/*
!storage/framework/testing/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
.git/
.gitignore
.gitattributes
README.md
*.md
tests/
.phpunit.result.cache
database/database.sqlite
.DS_Store
Thumbs.db

